    /* mobile  - less or equal 767*/
    
    @media (max-width: 767px) {
    }
    /* tablets  - 768 -991*/
    
    @media (min-width: 768px) and (max-width: 991px) {
          
        .innerHold_c,
        .innerHold_b
        {
            float: left;
            /*display: inline-block;*/
            width: 50%;
            /* make sure left/right margins or left/right padding are 0px here
            - it'll mess with the width otherwise*/
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .innerHold_s{
            float: left;
            /*display: inline-block;*/
            width: 100%;
            /* make sure left/right margins or left/right padding are 0px here
            - it'll mess with the width otherwise*/
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    /* desktops  - greater or equal 992*/
    
    @media (min-width: 992px) {
        
        .innerHold_c,
        .innerHold_b,
        .innerHold_s{
            float: left;
            /*display: inline-block;*/
            width: 33.33333%;
            /* make sure left/right margins or left/right padding are 0px here
            - it'll mess with the width otherwise*/
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
/* for all medias  */
    
    #Chicken,
    #Beef,
    #Sushi {
        
        border: 0px solid black;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 6px;
        padding-right: 6px;
        /*display: inline-block;*/
        margin: 20px;
        /* position: relative; */
        
    }
    
    h2 {
        text-align: center;
    }
#testythingy{
    
    border: 2px solid black;
    /* position: absolute; */
    top: 0px;
    right:0px;
    margin: 3px;
    padding: 3px;
}
    
/*   ------------------ sample -------------------------------- */

.internalDiv {
    margin-top: 30px;
    padding:15px;
}


.rightHeader{
    border: 2px solid black;
    position: absolute;
    top: -2px;
    right:-2px;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color : red;
}

#testSushi {
    border: 2px solid black;
    position: relative;
    background-color : lightgray;
}
